.c-intro-heading {
  top: 15vh;
  position: absolute;

  .heading-item {
    position: relative;

    &:nth-child(2) {
      transform: translate(25%, 100%);
    }

    &:nth-child(3) {
      transform: translate(50%, 200%);
    }

    &:nth-child(4) {
      transform: translate(65%, 300%);
    }

  }
}
