@import "../../../styles/settings";

.c-range-half-section {
  position: relative;
  padding-top: 685px;
  display: table;
  position: relative;

  .text-section {
    position: absolute;
    right: 0;
  }

}
