@import "../../styles/settings";

.c-line-circles {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;

  img {
    position: fixed;
    transform-origin: 50% 50%;
    display: block;
    top: -100%;
    right: -100%;
    left: -100%;
    bottom: -100%;
    margin: auto;
    z-index: 11;

    &.-spin {
      animation: spin infinite 10s linear;
    }

    &.-spin-reverse {
      animation: spinReverse infinite 10s linear;
    }

    &.-spin-reverse-slow {
      animation: spinReverse infinite 25s linear;
    }
  }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes spinReverse {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}
