@import "../../../styles/settings";

.c-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./bg-intro.jpg");
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  h1 {
    font-size: $font-size-h1;
    text-transform: uppercase;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    line-height: 1.75;
    letter-spacing: $letter-spacing-h1;
    padding-left: $letter-spacing-h1;
    text-align: center;
    color: $white;
    text-shadow: 0 0 34px rgba($pattern-color, 0.3);
  }
}
