@import "../../../styles/settings";

.c-third-section {
  margin-top: 1810px;

  .text-section {
    text-align: center;

    .c-title-section {
      h2 {
        margin: 0 auto;
      }
    }
  }
}
