@import '../../../styles/settings';

.c-circles-section {
  position: relative;
  height: 100vh;
  padding-top: 340px;
}

.include-partners {
  position: relative;
  top: -150px;
  width: 100%;
  transition: .1s linear;
  opacity: 1;

  .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.include-mapping {
  position: relative;
  bottom: -150px;
  width: 100%;
  transition: .1s linear;
  opacity: 1;


  .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
