@import '../../../styles/settings';

.c-video-section {
  position: relative;
  height: calc(100vh);
  margin-top: 340px;
  overflow: hidden;

  .video-player {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    height: 100%;
    transition: .7s ease;
    font-family: 'object-fit: fill;';
    object-fit: fill;
  }

  .c-icon-circle-direction {
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(0, -50%);
    z-index: 10;
    width: 30px;
    height: 30px;
  }

  .c-icon-circle-up {
    
  }
}
