@import "../../../styles/settings";

.c-video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 340px;
  height: calc(100vh - 50px);

    .video-player {
      min-width: 100%;
      height: 100%;
      transition: .7s ease;
      z-index: 4;
    }
}
