@import '../../../styles/settings';

.c-video-section {
  position: relative;
  height: calc(100vh);
  margin-top: 340px;

  .video-player {
    min-width: 100%;
    height: 100%;
    transition: .7s ease;
    font-family: 'object-fit: fill;';
    object-fit: fill;
  }
}
