@import '../../../styles/settings';

.c-title-section {
  h2 {
    max-width: 720px;
    margin: 0;
    color: $white;
    font-family: $font-family-base;
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-h2;
    line-height: 1.67;
    text-shadow: 0 1px 4px rgba($base-font-color, .2);
    text-transform: uppercase;

    &.center {
      text-align: center;
    }
 }
}
