body {
  font-family: $font-family-base;
  background-image: url("../images/bg-stars-large.jpg");
  background-attachment: fixed;
}

.wrap {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
