body {
  background-attachment: fixed;
  background-image: url('../images/bg-stars-large.jpg');
  font-family: $font-family-base;

  &.-stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
}

.wrap {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

p {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.vizz-component-globe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
b,
strong {
  text-shadow: 0 1px 4px rgba($base-font-color, .2) !important;
}

// Animation
