//Colors
$font-color: #1bcec7;
$pattern-color: #000;
$bg-color: #1b65a3;
$heading-color: #63cc30;
$base-font-color: #ffffff;

//Fonts
$font-size-h1: 36px;
$base-font-size: 18px;

$font-weight-bold: bold;
$letter-spacing-h1: 30px;
