@import '../../../styles/settings';

.c-mesh-section {
  position: relative;
  padding-top: 170px;
  -webkit-transform-style: preserve-3d;

  .title-section {
    margin: 0 auto;
  }

  img {
    position: absolute;
    right: 100px;
    max-width: 340px;
    margin-top: 155px;
  }

  .text-section {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 270px;
  }
}
