@import '../../styles/settings';

.c-mesh {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .2s $cubic;
  opacity: 0;

  &.-hidden {
    opacity: 0;
  }

  canvas {
    display: block;
    margin: 0 auto;
  }
}
