@import '../../styles/settings';

.c-mesh {
  position: fixed;
  contain: layout;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .2s $cubic;
  -webkit-transform-style: preserve-3d;
  opacity: 1;

  &.-hidden {
    opacity: 0;
  }

  canvas {
    display: block;
    margin: 0 auto;
  }
}
