@import '../../styles/settings';
$color-dark: #292f6e;

.c-circles-dark {
  position: fixed;
  top: calc(50% - 50vh);
  left: calc(50% - 50vh);
  transform: translate(-50%, -50%);
  transition: .4s $cubic;
  opacity: 0;

  .animate-pulse-dark,
  .animate-pulse-second-dark,
  .animate-pulse-third-dark,
  .animate-pulse-fourth-dark {
    position: absolute;
    width: 100vh;
    height: 100vh;
    border-radius: 100vh;
    background-color: $color-dark;
  }
}
