@import '../../../styles/settings';

.c-eighth-section {
  position: relative;
  margin-top: 200px;


  h1 {
    padding-left: $letter-spacing-h1;
    color: $white;
    font-family: $font-family-base;
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-h1;
    line-height: 1.75;
    text-align: center;
    text-shadow: 0 0 34px rgba($pattern-color, .3);
    text-transform: uppercase;
  }
}
