@import "../../../styles/settings";

.c-eighth-section {
  margin-top: 200px;
  position: relative;

  h1 {
    font-size: $font-size-h1;
    text-transform: uppercase;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    line-height: 1.75;
    letter-spacing: $letter-spacing-h1;
    padding-left: $letter-spacing-h1;
    text-align: center;
    color: $white;
    text-shadow: 0 0 34px rgba($pattern-color, 0.3);
  }
}
