@import '../../../styles/settings';

.c-eighth-section {
  position: relative;
  height: 100vh;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding-left: $letter-spacing-h1;
    transform: translate(-50%, -50%);
    color: $white;
    font-family: $font-family-base;
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-h1;
    line-height: 1.75;
    text-align: center;
    text-shadow: 0 0 34px rgba($pattern-color, .3);
    text-transform: uppercase;
  }
}
