@import '../../styles/settings';

.c-ranger-half-d3 {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .2s $cubic;
  opacity: 0;
  animation: fadeIn .2s $cubic;

  &.-hidden {
    opacity: 0;
  }

  &.-invisible {
    display: none;
  }

  .outer-arc {
    transform: rotate(220deg);
    opacity: .2;
  }

  .inner-arc {
    transform: rotate(-140deg);
  }

  .text-left,
  .text-right {
    font-size: 14px;
    text-transform: uppercase;
    fill: $white;
  }
}
