@import '../../styles/settings';

.c-modal {
  display: flex;
  position: fixed;
  top: 150%;
  left: 50%;
  width: calc(100% - 40px);
  height: calc(100vh - 140px);
  transform: translate(-50%, calc(-50% + 50px));
  transition: .7s ease;
  z-index: 1050;

  .image {
    width: 60%;
    height: 100%;
    background: url('./assets/default.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;

    &.-modal1-image {
      background: url('./assets/1.jpg');
    }

    &.-modal2-image {
      background: url('./assets/2.jpg');
    }

    &.-modal3-image {
      background: url('./assets/3.jpg');
    }

    &.-modal4-image {
      background: url('./assets/4.jpg');
    }

    &.-modal5-image {
      background: url('./assets/5.jpg');
    }

    &.-modal6-image {
      background: url('./assets/6.jpg');
    }

    &.-modal7-image {
      background: url('./assets/7.jpg');
    }

    &.-modal8-image {
      background: url('./assets/8.jpg');
    }

    &.-modal9-image {
      background: url('./assets/9.jpg');
    }

    &.-modal10-image {
      background: url('./assets/10.jpg');
    }

    &.-modal11-image {
      background: url('./assets/11.jpg');
    }

    &.-modal12-image {
      background: url('./assets/12.jpg');
    }

    &.-modal13-image {
      background: url('./assets/13.jpg');
    }

    &.-modal14-image {
      background: url('./assets/14.jpg');
    }

    &.-modal15-image {
      background: url('./assets/15.jpg');
    }

    &.-modal16-image {
      background: url('./assets/16.jpg');
    }

    &.-modal17-image {
      background: url('./assets/17.jpg');
    }

    &.-modal18-image {
      background: url('./assets/18.jpg');
    }

    &.-modal19-image {
      background: url('./assets/19.jpg');
    }

    &.-modal20-image {
      background: url('./assets/20.jpg');
    }

    &.-modal21-image {
      background: url('./assets/21.jpg');
    }

    &.-modal22-image {
      background: url('./assets/22.jpg');
    }

    &.-modal23-image {
      background: url('./assets/23.jpg');
    }

    &.-modal24-image {
      background: url('./assets/24.jpg');
    }

    &.-modal25-image {
      background: url('./assets/25.jpg');
    }

    &.-modal26-image {
      background: url('./assets/26.jpg');
    }

    &.-modal27-image {
      background: url('./assets/27.jpg');
    }

    &.-modal28-image {
      background: url('./assets/28.jpg');
    }

    &.-modal29-image {
      background: url('./assets/29.jpg');
    }

    &.-modal30-image {
      background: url('./assets/30.jpg');
    }

    &.-modal31-image {
      background: url('./assets/31.jpg');
    }

    &.-modal32-image {
      background: url('./assets/32.jpg');
    }

    &.-modal33-image {
      background: url('./assets/33.jpg');
    }

    &.-modal34-image {
      background: url('./assets/34.jpg');
    }

    &.-modal35-image {
      background: url('./assets/35.jpg');
    }

    &.-modal36-image {
      background: url('./assets/36.jpg');
    }
  }

  .information {
    position: relative;
    width: 40%;
    height: 100%;
    padding: 0 20px;
    background-color: $back-modal;
    color: $white;

    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      text-align: center;
      cursor: pointer;

      svg {
        position: relative;
        opacity: .4;
        fill: rgba($white, .4);
      }

      span {
        display: block;
        color: rgba($white, .4);
        font-size: 14px;
        opacity: .4;
      }
    }

    .contain-text {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      h2 {
        margin: 0 0 15px 0;
        font-size: $font-size-h2;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        line-height: 1.3;
      }

      p {
        font-size: $base-font-size;
        letter-spacing: .5px;
        line-height: 1.56;
      }
    }
  }
}
