@import "../../../styles/settings";

.c-seventh-section {
  margin-top: 340px;
  width: 100%;
  height: 100vh;
  background-image: url('assets/examplevideo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  .backdark {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba($pattern-color, .6);
    transition: .7s;

    &.-opened {
      opacity: 1;
      visibility: visible;
    }

    &.-close {
      opacity: 0;
      visibility: hidden;
    }
  }

  .contain-video-player {
    width: 0;
    height: 0;
    transition: .7s ease;
    z-index: 3;
    position: relative;
    overflow: hidden;

    .video-player {
      width: 0;
      height: 0;
    }

    &.-opened {
      height: 95%;
      width: 95%;

      .video-player {
        min-width: 100%;
        min-height: 100%;
      }
    }

    &.-close {
      height: 0;
      width: 0;

      .video-player {
        min-width: 0;
        min-height: 0;
      }
    }

    .close-video-button {
      font-size: 18px;
      color: $pattern-color;
      position: absolute;
      right: 5%;
      top: 5%;
      background-color: $white;
    }
  }

  .play-button {
    background-color: $white;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 150px;
    cursor: pointer;
    z-index: 3;
  }
}
