@import '../../styles/settings';

.c-header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $small-margin;
  z-index: 10;

  .brand {
    display: block;

    > img {
      display: block;
      width: 116px;
      object-fit: contain;
    }
  }

  .menu {

    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-right: $medium-margin;

        a,
        span {
          color: $white;
          font-size: $base-font-size;
          text-decoration: none;
          cursor: pointer;

        }

        &.round {
          padding: 10px 20px;
          border: 2px solid #1bcec7;
          border-radius: 100px;

          a {
            color: #1bcec7;
          }
        }
      }
    }
  }
}
