@import '../../styles/settings';

.c-background-change {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: .2s $cubic;

  div {
    position: fixed;
    width: 100%;
    height: 100%;
    transition: .4s $cubic;
    opacity: 0;
  }

  .back-transparent {
    background: transparent;
  }

  .back-blue-one {
    background: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 220, 252, .4));
  }

  .back-blue-two {
    background: linear-gradient(rgba(0, 220, 252, .4), rgba(0, 220, 252, .8));
  }
}
