@import '../../../styles/settings';

.c-cover {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-attachment: fixed;
  background-image: url('./bg-intro.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    padding-left: $letter-spacing-h1;

    color: $white;
    font-family: $font-family-base;
    font-size: $font-size-h1-laptop;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-h1;
    line-height: 1.75;
    text-align: center;
    text-shadow: 0 0 34px rgba($pattern-color, .3);
    text-transform: uppercase;

    opacity: 0;
    animation: splash 2s normal forwards ease-in-out;

    @media screen and (min-width: 1281px) {
      font-size: $font-size-h1;
    }
  }
}

@keyframes splash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
