@import '../../styles/settings';

.c-sidebar {
  display: flex;
  position: fixed;
  bottom: 0;
  margin: 0 $medium-margin $medium-margin;

  .contain-share {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;

    .share {
      margin-top: $medium-margin;
      cursor: pointer;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .info-world {
    position: relative;
    flex-basis: 50%;
    margin-right: 80px;
    transition: $animation-cubic;
    opacity: 0;

    p {
      position: absolute;
      right: 0;
      bottom: 0;
      color: $white;
    }
  }
}
