@import '../../../styles/settings';

.c-range-section {
  position: relative;
  padding-top: 340px;

  .text-section {
    text-align: center;

    .c-title-section {
      h2 {
        margin: 0 auto;
      }
    }
  }
}
