.l-header {
  position: fixed;
  position: sticky;
  margin: $small-margin;
  top: 0;
  left: 0;
  z-index: 2;

  .brand {
    display: block;

    > img {
      display: block;
      width: 107px;
      height: 50px;
    }
  }
}
