@import '../../../styles/settings';

.c-interactive-world-section {
  position: relative;
  max-width: none;
  height: 100vh;
  transition: 1s linear;
  background-image: url('../../../images/bg-stars-large.jpg');

  .c-title-section {
    h2 {
      margin: 0 auto;
      text-align: center;
    }
  }
}
