@import '../../../styles/settings';

.c-interactive-world-section {
  position: relative;
  margin-top: 150px;
  padding-top: 100px;

  .c-title-section {
    h2 {
      margin: 0 auto;
      text-align: center;
    }
  }
}
