@import '../../styles/settings';

.vizz-component-globe {
  width: 100%;
  height: 100%;
  transition: opacity .4s linear;
  transition: top 1s linear;
  background-image: url('./images/halo.png');
  background-repeat: no-repeat;
  background-position: 50% 47%;

  &.to-bottom {
    top: 100vh;
    transform: translate(-50%, 0);

  }

  &.to-top {
    top: 0;
    transform: translate(-50%, 0);
    z-index: 10;
  }

  .back-stars {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../images/bg-stars-large.jpg');
  }

  .first-text-globe {
    position: relative;
    top: 50%;
    margin: 0;
    transform: translate(0, -50%);
    transition: opacity .6s linear;
    color: $white;
    font-size: 30px;
    letter-spacing: 30px;
    line-height: 1.75;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    z-index: 2;
  }

  .second-text-globe {
    position: relative;
    top: 50%;
    margin: 0;
    transform: translate(0, -50%);
    transition: opacity .6s linear;
    color: $white;
    font-size: 60px;
    letter-spacing: 7px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    z-index: 2;
  }

  > canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  .marker {
    display: block;
    position: absolute;
    width: 23px;
    transform: translate(50vh, 50vw);
    cursor: pointer;
  }

  .contain-legends {
    display: flex;
    position: absolute;
    top: 35px;
    left: 35px;
    flex-direction: column;
    transition: .2s linear;
    opacity: 1;
    z-index: 10;
    padding: 15px;
    border: 2px solid $white;
    opacity: 0;

    span {
      color: $white;
      font-size: $base-font-size;
    }

    ul {
      padding-left: 20px;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        align-content: center;
        color: $white;
        line-height: 30px;

        .example {
          display: inline-block;
          width: 15px;
          height: 15px;
          background-color: pink;
          margin-right: 10px;
          border-radius: 15px;
        }
      }
    }
  }

  .contain-checks {
    display: flex;
    position: absolute;
    right: 35px;
    bottom: 35px;
    flex-direction: column;
    transition: .2s linear;
    opacity: 0;
    z-index: 10;

    .text-source {
      display: block;
      margin-top: 8px;
      font-size: 13px;
      color: #90979c;
      opacity: 0;
      transition: .1s linear;

      a {
        color: #90979c;
      }
    }
  }

  .label-contain {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: #fff;

    &:first-of-type {
      margin-top: 0;
    }

    label {
      margin-left: 10px;
      font-size: 18px;
    }
  }

  .select-legend {
    width: 35px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 25px;
    outline: 0;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: .25s;

    &::after {
      display: block;
      position: relative;
      top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      background-color: #fff;
      content: '';
    }

    &.-selected {
      padding-right: 0;
      padding-left: 15px;
      background-color: $font-color;
     }
   }

   .explore-text {
    position: absolute;
    bottom: 50px;
    color: $white;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    letter-spacing: 1.1px;
    opacity: 0;
    transition: .2s linear;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 0;
   }

   .footer-text {
    position: absolute;
    bottom: 15px;
    color: #90979c;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    letter-spacing: 1.1px;
    opacity: 0;
    transition: .2s linear;
    width: 100%;
    text-align: center;
    margin: 0;
   }

   .c-icon-circle-up {
     cursor: pointer;
     position: absolute;
     top: 30px;
     left: 50%;
     transform: translate(0, -50%);
     z-index: 50;
     width: 30px;
     height: 30px;
     opacity: 0;
     transition: .2s linear;
     transform: rotate(180deg);
   }


   .check-color-legends {
     display: flex;
     flex-direction: column;
     opacity: 1;
     z-index: 10;
     padding-top: 0;
     padding-bottom: 0;
     margin-top: 0;

    &.eco-regions-color {
      display: none;
    }

    &.animalia-regions-color {
      display: none;
    }

     span {
       color: $white;
       font-size: 13px;
     }

     ul {
       list-style: none;
       margin-top: 0;
       padding-left: 5px;

       li {
         display: flex;
         align-items: center;
         align-content: center;
         color: $white;
         line-height: 30px;
         font-size: 13px;

         .circle-color {
           display: inline-block;
           width: 10px;
           height: 10px;
           margin-right: 10px;
           border-radius: 15px;

           &.-color-1 {
            background-color: #007154;
           }
           &.-color-2 {
             background-color: #bff7e9;
           }
           &.-color-3 {
             background-color: #01e0a7;
           }
           &.-color-4 {
             background-color: #01a97d;
           }
           &.-color-5 {
             background-color: #67cfa4;
           }
           &.-color-6 {
             background-color: #458a6d;
           }
           &.-color-7 {
             background-color: #59b5a8;
           }
           &.-color-8 {
             background-color: #d0eae1;
           }
           &.-color-9 {
             background-color: #2ee9ff;
           }
           &.-color-10 {
             background-color: #4390d2;
           }
           &.-color-11 {
             background-color: #097a89;
           }
           &.-color-12 {
             background-color: #584554;
           }
           &.-color-13 {
             background-color: #d2f7a8;
           }
           &.-color-14 {
             background-color: #5860cc;
           }
           &.-color-15 {
             background-color: #eeeeee;
           }
           &.-color-16 {
             background-color: #a0a0a0;
           }
           &.-color-17 {
             background-color: #d73027;
           }
           &.-color-18 {
             background-color: #f79272;
           }
           &.-color-19 {
             background-color: #fed6b0;
           }
           &.-color-20 {
             background-color: #fff2cc;
           }
           &.-color-21 {
             background-color: #d2ecb4;
           }
           &.-color-22 {
             background-color: #8cce8a;
           }
           &.-color-23 {
             background-color: #1a9850;
           }
         }
       }
     }
   }
}
